/*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

body
{
  border: 10px solid green;
  border-style: double;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  line-height: 1.6;
}
*/

h1{
  font-weight: bold;
  font-size: 30px;
}

.menubar{
    background-color: #4B0082;
    color: #fff;
    height: 45px;
}

.menubar ul{
    display: flex;
}

.menubar a{
    color:#fff;
    padding: 10px;
    margin:0 5px;
}

.menubar a:hover{
    border-bottom: 2px #fff solid;
}

.menubar .flex{
    justify-content: space-between;
    align-items: center;
}



/*.trainingContainer {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}*/
  .trainingContainer h2 {
    font-size:15px;
    color:#888;
    text-align:center;
    font-weight: bold;
    gap:20px;
  }
  .trainingContainer .list {
    margin-top:25px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    max-width:100%;
  }
  .form-element {
    position:relative;
    width:110px;
    height:110px;
  }
  .form-element input {
    display:none;
  }
  .overlay{
    position:relative;
  }
  .form-element label {
    width:100%;
    display:flex;
    justify-content:center;
    align-items: flex-end;
    height:100%;
    cursor:pointer;
    border:2px solid #ddd;
    background:#fff;
    box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
    text-align:center;
    transition:all 200ms ease-in-out;
    border-radius:5px;
    position: absolute;
    bottom: 0;
    font-size:14px;
    font-weight:bold;
    color: #4B0082;
    text-transform: uppercase;
  }
  .form-element .icon {
    margin-top:10px;
    font-size:30px;
    font-weight:900;
    color:#555;
    transition:all 200ms ease-in-out;
    justify-content:center;
  }
  .form-element .title {
    font-size:10px;
    font-weight:900;
    color:#555;
    padding:5px 0px;
    transition:all 200ms ease-in-out;
  }
  .form-element label:before {
    content:"✓";
    position:absolute;
    width:10px;
    height:10px;
    top:8px;
    left:8px;
    background:#4B0082;;
    color:#fff;
    text-align:center;
    line-height:18px;
    font-size:5px;
    font-weight:900;
    border-radius:50%;
    opacity:0;
    transform:scale(0.5);
    transition:all 200ms ease-in-out;
  }

  .form-element input:checked + label .icon {
    color:#4B0082;
  }
  .form-element input:checked + label .title {
    color:#4B0082;
  }
  .form-element input:checked + label {
    border:2px solid #4B0082;
  }

  button {
    display: inline-block;
    background-color:#4B0082;
    color: #fff;
    padding: 15px 32px;
    cursor:pointer;
    border: none;
    border: radius 5px;
    max-width: 30%;
    max-height: 15%;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin: 4px 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
  }
  .select2.narrow {
    background: #4B0082;
    color: #fff;
    padding: 10px 30px;
    cursor:pointer;
    border: none;
    border: radius 5px;
    margin-top: 15px;
    max-width: 30%;
    max-height: 15%;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.fname {
  color:  #4B0082;
  padding: 10px 30px;
  border:  #4B0082;
  border: radius 5px;
  margin-top: 15px;
  max-width: 40%;
  max-height: 15%;
  font-weight: bold;
  font-size: 14px;
}

.fname1 {
  color:  #4B0082;
  padding: 10px 30px;
  cursor:pointer;
  border: none;
  border: radius 5px;
  margin-top: 15px;
  max-width: 40%;
  max-height: 15%;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

input[type=text] {
  width: 100%;
  padding: 10px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}



#progressBarContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  width: 50%;
  height: 30px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #ddd;
  overflow: hidden;
}

#progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4B0082;
}

#progressBarPercent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 30px;
}


  