#sampleDatabase {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height:50%;
  }
  
  #sampleDatabase td, #sampleDatabase th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  #sampleDatabase tr:nth-child(even){background-color: #f2f2f2;}
  
  #sampleDatabase tr:hover {background-color: #ddd;}
  
  #sampleDatabase th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .select2.narrow {
    background:  #04AA6D;
    color: #fff;
    font-weight: bold;
}




.column-4 {
  float: left;
  width: 21%;
  padding: 10px;
  margin:20px;
  height: 250px;
}

.test-1 {
  background: url('.jpeg');
  background-size: cover;
}

.Activity-1 {
  background-color:	#7FFFD4;
}

.Activity-2 {
  background-color:#209BFF;
}

.Activity-3 {
  background-color:#FFB6C1;
}

.Activity-text {
  text-align:center;
  font-size:50px;
}


.Activity-1:hover {
   background-color: #FEDE00;
}

.Activity-2:hover {
   background-color: #FEDE00;
}

.Activity-3:hover {
   background-color: #FEDE00;
}